@model IEnumerable<CrudApp.Models.People>

@{
    ViewData["Title"] = "Databáze lidí";
}

<h1>Databáze lidí</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Přidat osobu</a>
</p>
<table class="table table-bordered table-dark table-striped table-hover" >
    <thead>
        <tr>
            <th>
                Jméno
            </th>
            <th>
                Příjmení
            </th>
            <th>
               Email
            </th>
            <th>
                Telefonní číslo
            </th>
            <th>
                Aktivní
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
                <i class="oi oi-pencil"></i>
            </td>
        </tr>
}
    </tbody>
</table>
